@charset "UTF-8";
/*!
Auteur: Eddy Martin
Description: Gabarit de base permettant d'explorer Sass et différents techniques CSS
Version: 1.0.0
License: GNU General Public License v2 or later

*/
/*--------------------------------------------------------------
>>> LISTE DES FICHIERS SCSS IMPORTÉS 
----------------------------------------------------------------
# Variables
# Layout
# Element
# Menu
# Pied-page
----------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
/* ------------------------------------------------------------


# Element 
--------------------------------------------------------------*/
/* ----------------------------------------- */
/* ------  Un premier exemple de mixin ----- */
/* ----------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
.caseLi {
  -webkit-box-shadow: 5px 10px rgba(151, 151, 151, 0.5);
          box-shadow: 5px 10px rgba(151, 151, 151, 0.5);
  background-color: black;
  opacity: 0.9;
}

.caseLi2 {
  -webkit-box-shadow: 5px 10px rgba(151, 151, 151, 0.5);
          box-shadow: 5px 10px rgba(151, 151, 151, 0.5);
  background-color: #520000;
  opacity: 0.9;
}

.caseLi3 {
  -webkit-box-shadow: 5px 10px rgba(151, 151, 151, 0.5);
          box-shadow: 5px 10px rgba(151, 151, 151, 0.5);
  background-color: #864100;
  opacity: 0.9;
}

.caseLi4 {
  -webkit-box-shadow: 5px 10px rgba(151, 151, 151, 0.5);
          box-shadow: 5px 10px rgba(151, 151, 151, 0.5);
  background-color: #644d00;
  opacity: 0.9;
}

/*
  Le resultat CSS produit par SCSS

  .modal-background {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        background: black;
        opacity: 0.9;
}

*/
/* ---------------------------------------------------------------------------------------------------------------------
Réutilisabilité
------------------------------------------------------------------------------------------------------------------------
Le but principal d'un mixin est de rendre un ensemble de propriétés réutilisables.
Comme les variables Sass (où vous définissez vos valeurs sur un seul emplacement), 
les mixins Sass vous permettent de définir des propriétés sur un seul emplacement.
Le mixin précédent peut être réutilisé dans d'autres règles:
------------------------------------------------------------------------------------------------------------------------ */
.modal-background {
  -webkit-box-shadow: 5px 10px rgba(151, 151, 151, 0.5);
          box-shadow: 5px 10px rgba(151, 151, 151, 0.5);
}

.product-link {
  -webkit-box-shadow: 5px 10px rgba(151, 151, 151, 0.5);
          box-shadow: 5px 10px rgba(151, 151, 151, 0.5);
}

.image-pattern {
  -webkit-box-shadow: 5px 10px rgba(151, 151, 151, 0.5);
          box-shadow: 5px 10px rgba(151, 151, 151, 0.5);
}

/* ------------------------------------------------------------------------------  
Paramètres
--------------------------------------------------------------------------------- 
Les mixins étant des fonctions on peut y intégrer des paramètres, 
Par exemple, on peut généraliser la propriété border-radius pour 
l'adapter à plusieurs navigateurs.
-------------------------------------------------------------------------------- */
.box {
  border-radius: 3px;
}

/*----------------------------------------------------------------------------------- 
Paramètres facultatifs
-------------------------------------------------------------------------------------
Si vous souhaitez qu'un paramètre ait une valeur par défaut tout en offrant la possibilité
d'en définir un occasionnellement, vous pouvez créer des paramètres facultatifs:
------------------------------------------------------------------------------------- */
/* Utilisation du mixin */
div.highlighter-rouge {
  position: relative;
}

div.highlighter-rouge:before {
  background: #aaa;
  color: rgba(0, 0, 0, 0.5);
  content: "Code";
  display: inline-block;
  font-size: 0.6rem;
  font-weight: 700;
  height: 1rem;
  left: 0;
  letter-spacing: 0.1em;
  line-height: 1rem;
  padding: 0 0.5em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}

div.highlighter-rouge.css {
  position: relative;
}

div.highlighter-rouge.css:before {
  background: #0ff;
  color: white;
  content: "CSS";
  display: inline-block;
  font-size: 0.6rem;
  font-weight: 700;
  height: 1rem;
  left: 0;
  letter-spacing: 0.1em;
  line-height: 1rem;
  padding: 0 0.5em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}

div.highlighter-rouge.scss {
  position: relative;
}

div.highlighter-rouge.scss:before {
  background: #c69;
  color: white;
  content: "SCSS";
  display: inline-block;
  font-size: 0.6rem;
  font-weight: 700;
  height: 1rem;
  left: 0;
  letter-spacing: 0.1em;
  line-height: 1rem;
  padding: 0 0.5em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}

/*
    Permet de définir un pseudo élément
*/
/*
    Voici un exemple d'utilisation sans aucun argument 
    (vous verrez également ce mixin utilisé dans certains de nos 
    autres mixins ci-dessous également).
*/
div.mon_pseudo {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid #aaa;
}

div.mon_pseudo::after {
  content: "";
  display: block;
  position: absolute;
  top: -1rem;
  left: -1rem;
  width: 1rem;
  height: 1rem;
  background-color: #0f0;
}

/*
Ce mixin élimine tous les tracas de la création d'un HTML/CSS triangle 
que vous verrez  apparaître dans la plupart des info-bulles traditionnelles, 
le tout sans images, vous spécifiez simplement sa couleur, la taille que vous voulez, 
la direction vers laquelle il pointera et c'est fait!
*/
.mon_triangle {
  content: "";
  display: block;
  position: absolutr;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #0f0;
  margin-right: -10px;
}

/* ------------------------------------------------------------------------------ */
/*  @content                                                                      */
/* ------------------------------------------------------------------------------ */
/* @content permet l'extension d'un Mixin. Nous pouvons passer un bloc de code css
   à un Mixins avec l'utilisation de @content. En bref, @content rend cela possible.

   grid() est un mixin qu'on va étendre avec @content
*/
/* @content permet d'intégrer du code de plus */
/*
Et maintenant, notre grille Mixin peut prendre du code CSS intégré. 
Un exemple de cas d'utilisation est celui des media queries. 
Voici un exemple
*/
/* ------------------------------------------------------------------------------ */
/* @extend  
/* ------------------------------------------------------------------------------ */
/* Un  @extend permet d'hériter des propriétés CSS d'un autre sélecteur           */
/* ------------------------------------------------------------------------------ */
.small-uppercase, .modal-background, .product-link, .image-pattern {
  color: lightslategrey;
  font-size: 10px;
  letter-spacing: 0.1em;
  line-height: 12px;
  text-transform: uppercase;
}

/*
  .small-uppercase,
  .modal-background,
  .product-link,
  .image-pattern{
    color: lightslategrey;
    font-size: 10px;
    letter-spacing: 0.1em;
    line-height: 12px;
    text-transform: uppercase;
  }
  */
/* ---------------------------------------------------------------------------- */
/* Différence avec les mixins                                                   */
/* ---------------------------------------------------------------------------- */
/* 
Il y a 2 différences:
La règle @extend n'a pas de paramètres. Les mixins en ont.
La règle @extend combine des sélecteurs. Les mixins non.
*/
/*
La liste des propriétés est simplement répétée autant de fois que le 
@include small-uppercase () est appelé.

Un  @extend est plus efficace, car il n'écrit les propriétés 
communes qu'une seule fois.
On peut optimiser @extend avec un «placeholder»
en précédent notre extension avec «%»
*/
.modal-background, .product-link, .image-pattern {
  color: lightslategrey;
  font-size: 10px;
  letter-spacing: 0.1em;
  line-height: 12px;
  text-transform: uppercase;
}

.modal-background,
.product-link,
.image-pattern {
  color: lightslategrey;
  font-size: 10px;
  letter-spacing: 0.1em;
  line-height: 12px;
  text-transform: uppercase;
}

/* Les éléments simples.  
On définit ici des règles de styles générales qui peuvent être enrichies ailleur.
Ces règles servent de bases  
*/
header {
  color: #ffffff;
}

h1 {
  font-size: 5em;
  padding: 1rem 0 .1rem 0;
  margin: 0;
}

h2 {
  font-size: 1em;
  padding: 0 0 20px 0;
  margin: 0;
}

@media screen and (max-width: 500px) {
  header h1 {
    font-size: 3em;
    margin: 0;
  }
  header h2 {
    font-size: 1em;
    margin: 0;
  }
}

@media screen and (max-width: 1000px) {
  header h1 {
    font-size: 3em;
  }
}

/* ------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header,
nav,
main,
footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  padding-bottom: 2%;
  -webkit-box-shadow: inset 0 0 15px black;
          box-shadow: inset 0 0 15px black;
}

header,
footer {
  background-color: #a44444;
}

nav {
  background-color: #4a1f1f;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #333333;
  color: #d9d9d9;
  height: 530px;
}

main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main section p {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
}

.global {
  width: 95%;
  height: 100%;
}

@media screen and (min-width: 600px) {
  .global {
    width: 80%;
    height: 100%;
  }
}

/* ------------------------------------------------------------
# Menu
--------------------------------------------------------------*/
/* 
le menu est contrôlé par une case à cocher
l'état checked est testé ici:
*/
#checkMenu:checked ~ ul {
  max-height: 200px;
}

#checkMenu:checked ~ ul > li {
  opacity: 1;
}

#checkMenu:checked ~ #btnMenu {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #0f0;
}

#recherche {
  display: none;
}

#checkRecherche {
  display: none;
}

#checkMenu {
  display: none;
}

#btnMenu {
  display: block;
  color: #fff;
  font-size: 2em;
  -webkit-transform-origin: 50% 60%;
          transform-origin: 50% 60%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  width: 30px;
  height: 32px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  left: 10px;
  top: 41px;
  cursor: pointer;
}

#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 140px;
  background-color: #381717;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 40px;
}

#menu ul {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100vw;
  margin-left: -20px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-top: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  max-height: 0px;
  height: auto;
  -webkit-transition: max-height 1s;
  transition: max-height 1s;
  background-color: #381717;
  overflow: hidden;
}

#menu ul li {
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#menu ul li a {
  text-decoration: none;
  display: block;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  color: white;
}

#menu ul li a:hover {
  background-color: #a44444;
  color: #fff;
}

#menu ul li a:last-child {
  padding-bottom: 15px;
}

@media screen and (min-width: 500px) {
  #btnRecherche {
    position: absolute;
    top: 30.5%;
    left: 98.4%;
    -webkit-transition: 1s all;
    transition: 1s all;
    -webkit-transform: scale(2);
            transform: scale(2);
    padding: 1px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  #btnRecherche:hover {
    background-color: #803535;
    -webkit-transition: 1s all;
    transition: 1s all;
  }
  #btnMenu {
    display: none;
  }
  #menu {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #menu ul {
    height: 26px;
    margin: 0;
    margin-left: 2%;
    overflow: visible;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    opacity: 1;
  }
  #menu ul li {
    opacity: 1;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    vertical-align: center;
  }
  #menu ul li a {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 26px;
    padding-top: 11px;
  }
  #menu ul li a:hover {
    background-color: #803535;
  }
}

@media screen and (max-width: 1000px) and (min-width: 500px) {
  #btnRecherche {
    position: absolute;
    top: 29%;
    left: 94%;
    -webkit-transition: 1s all;
    transition: 1s all;
    -webkit-transform: scale(2);
            transform: scale(2);
    padding: 1px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  #btnRecherche:hover {
    background-color: rgba(192, 127, 127, 0.7);
    border-radius: 5px;
    -webkit-transition: 1s all;
    transition: 1s all;
  }
}

@media screen and (max-width: 500px) {
  #btnRecherche {
    display: none;
  }
  #menu {
    background-color: transparent;
  }
  ul {
    padding-top: 3%;
  }
  li {
    padding-left: 2%;
  }
}

/*--------------------------------------------------------------
# Pied-page 
----------------------------------------------------------------*/
/*
mobile : 1 colonne
tablette : 2 colonnes
desktop : 4 colonnes
*/
#pied-page {
  display: "flex";
  opacity: 1;
  -webkit-transition: 1s all;
  transition: 1s all;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
}

#pied-page section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#pied-page ul {
  padding: 10px;
  list-style-type: none;
  margin: 0;
  padding: 10px 0 10px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  border: 3px dotted #993f3f;
}

#pied-page ul li {
  padding: 3px;
}

@media screen and (min-width: 500px) {
  #pied-page section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  #pied-page ul {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
    text-align: center;
  }
}

@media screen and (min-width: 1000px) {
  #pied-page section {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #pied-page ul {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
  }
}

/*-------------------------------------------------------------- */
/* ------------------------------------------------------------------------------ */
/* @extend  
/* ------------------------------------------------------------------------------ */
/* Un  @extend permet d'hériter des propriétés CSS d'un autre sélecteur           */
/* ------------------------------------------------------------------------------ */
.small-uppercase, .modal-background, .product-link, .image-pattern {
  color: lightslategrey;
  font-size: 10px;
  letter-spacing: 0.1em;
  line-height: 12px;
  text-transform: uppercase;
}

/*
  .small-uppercase,
  .modal-background,
  .product-link,
  .image-pattern{
    color: lightslategrey;
    font-size: 10px;
    letter-spacing: 0.1em;
    line-height: 12px;
    text-transform: uppercase;
  }
  */
/* ---------------------------------------------------------------------------- */
/* Différence avec les mixins                                                   */
/* ---------------------------------------------------------------------------- */
/* 
Il y a 2 différences:
La règle @extend n'a pas de paramètres. Les mixins en ont.
La règle @extend combine des sélecteurs. Les mixins non.
*/
/*
La liste des propriétés est simplement répétée autant de fois que le 
@include small-uppercase () est appelé.

Un  @extend est plus efficace, car il n'écrit les propriétés 
communes qu'une seule fois.
On peut optimiser @extend avec un «placeholder»
en précédent notre extension avec «%»
*/
.modal-background, .product-link, .image-pattern {
  color: lightslategrey;
  font-size: 10px;
  letter-spacing: 0.1em;
  line-height: 12px;
  text-transform: uppercase;
}

.modal-background,
.product-link,
.image-pattern {
  color: lightslategrey;
  font-size: 10px;
  letter-spacing: 0.1em;
  line-height: 12px;
  text-transform: uppercase;
}

/*- Mixin
*/
/*- entete
*/
#entete {
  background-color: black;
  width: 100%;
}

#entete div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#entete div p {
  padding-right: 6%;
}

#inputRecherche {
  position: absolute;
  width: 90%;
  border: 1px solid black;
  height: 32px;
  color: white;
  background-color: rgba(110, 46, 46, 0.9);
  padding: 3px;
  z-index: -1;
  opacity: 0;
  -webkit-transition: 1s all;
  transition: 1s all;
}

#checkRecherche:checked ~ #menu > #inputRecherche {
  z-index: 1;
  opacity: 1;
  -webkit-transition: 1s all;
  transition: 1s all;
}

@media screen and (min-width: 500px) {
  #entete {
    background-color: black;
    width: 100%;
  }
  #entete div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #entete div p {
    padding-right: 5%;
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #inputRecherche {
    position: absolute;
    width: 95%;
    border: 1px solid black;
    height: 32px;
    color: white;
    background-color: rgba(119, 63, 63, 0.9);
    padding: 3px;
    z-index: -1;
    opacity: 0;
    -webkit-transition: 1s all;
    transition: 1s all;
  }
  #checkRecherche:checked ~ #menu > #inputRecherche {
    z-index: 1;
    opacity: 1;
    -webkit-transition: 1s all;
    transition: 1s all;
  }
}

@media screen and (min-width: 1000px) {
  #entete {
    background-color: black;
    width: 100%;
  }
  #entete div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #entete div p {
    padding-right: 1%;
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

/* --------------------------------------------------------------
# Slider 
---------------------------------------------------------------- */
.mon-slider {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: lightcoral;
  font-family: 'Ropa Sans', sans-serif;
  overflow: hidden;
  width: 100%;
  height: 400px;
  -webkit-box-shadow: inset 0 0 15px black;
          box-shadow: inset 0 0 15px black;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.slider {
  width: 300px;
  text-align: center;
  overflow: hidden;
  border-radius: 25px;
}

.slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 3%;
  /*
scroll-snap-points-x: repeat(300px);
scroll-snap-type: mandatory;
*/
}

.slides div:hover {
  -webkit-transition: 1s all;
  transition: 1s all;
}

.slides div:hover img {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  border-radius: 25px;
}

.slides div:hover h2 {
  z-index: 2;
}

.slides div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slides div h2 {
  font-size: 1.5rem;
  color: white;
  width: 80%;
}

.slides div p {
  font-size: 1rem;
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  background: #f80000;
  border-radius: 10px;
  border: 1px solid black;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides > div {
  scroll-snap-align: start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 300px;
  height: 300px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  position: relative;
  margin-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 100px;
}

.author-info {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.75rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}

.author-info a {
  color: white;
}

.slider > a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
  margin-left: 2%;
}

.slider > a:active {
  top: 1px;
}

.slider > a:focus {
  background: #000;
}

/* Don't need button navigation */
/*
@supports (scroll-snap-type) {
    .slider>a {
        display: none;
    }
}
*/
.mon-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #773333;
  font-family: 'Ropa Sans', sans-serif;
  overflow: hidden;
}

/*-------------------------------------------------------------- */
/*# sourceMappingURL=style.css.map */