/* 
le menu est contrôlé par une case à cocher
l'état checked est testé ici:
*/

#checkMenu:checked~ul {  
    max-height: 200px; // max-height peut transiter mais non height
}

#checkMenu:checked~ul>li{
    opacity : 1;
}

#checkMenu:checked ~ #btnMenu {
    transform: rotate(90deg) ;
    color : #0f0;
}
#recherche{
    display:none;
}


#checkRecherche{
    display:none;
}

#checkMenu {
    display : none;
}

#btnMenu {
    display : block;
    color: #fff;
    font-size: 2em;
    transform-origin: 50% 60%;
    user-select: none;
    position : absolute;
    width : 30px;
    height : 32px;
    transition: transform 1s;
    left :10px;
    top : 41px;
    cursor: pointer ;
}

#menu {
    display: flex;
    position: absolute;
    top : 140px;
    background-color: darken($couleur_rouge,10%) ;
    align-items: flex-start;
    height : 40px;

    ul {
        -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
        width : 100vw;
         margin-left : -20px;
        padding-left:20px;
        padding-bottom: 20px;
        margin-top : 15%;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        max-height: 0px; // on cache le menu mobile
        height : auto; // la hauteur nécessaire pour afficher uniquement les choix de menu 
        transition : max-height 1s; // max-height sera animé
        background-color: darken($couleur_rouge, 10%); // une couleur bg est donnée à ul
        overflow: hidden; // pour empêcher les li d'être visible quand le menu est fermé
        li {            
            opacity :0;
            
            transition : opacity 1s;
            a {
                text-decoration: none;
                display: block;
                padding: 6px 3px 3px 30px;
               
                color : $couleur_blanc;
                &:hover {
                    background-color: lighten($couleur_rouge, 20%);
                    color : #fff;
                }
                &:last-child{
                    padding-bottom: 15px;
                }
            }
        }
    }
}


// ---------------------------------------------------------------- un premier point de rupture 
// uniquement pour le menu
@media screen and (min-width:500px) {
    
    //style pour le bouton de recherche non mobile
    #btnRecherche{
 
        position:absolute;
        top:26.8%;
        left:98.4%;
        transition:1s all;
        transform:scale(2);
        padding:1px;
    }
    //ajout d'un hover 
    #btnRecherche:hover{
        background-color:lighten($couleur_rouge, 10%);
        
        transition:1s all;
    }
        #btnMenu {
            display : none;
        }

    #menu {
            position: static;
           
            flex-direction: row;
        ul {
            height: 26px;
            margin : 0;
            margin-left : 2%;
            overflow:visible;
            flex-direction: row;
            justify-content: space-around;
            opacity:1;
        
            li {
                opacity :1;
                flex:1;
               text-align: center;
                vertical-align: center;
                a {
                    flex :1;
                    height : 26px;
                    padding-top: 11px;;
                    
                    &:hover{
                        background-color :lighten($couleur_rouge, 10%)
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) and (min-width:500px) {
    //ajout d'un autre style css pour le bouton de recherche (j'aurais pu faire un autre breakpoint dans menu.scss mais j'aimais mieux avoir moins de ligne)
    #btnRecherche{
 
        position:absolute;
        top:47%;
        left:94%;
        transition:1s all;
        transform:scale(2);
        padding:1px;
    }

    #btnRecherche:hover{
        background-color:rgba(192, 127, 127,0.7);
        border-radius:5px;
        transition:1s all;
        
    }
}

@media screen and (max-width:500px){
    #btnRecherche{
        display:none;
    }
}