$couleur_rouge : rgb(92, 38, 38);
$couleur_blanc : rgb(255, 255, 255);
$couleur_noir : rgb(0,0,0);
$couleur_vert :#2ecc71;
$couleur_bleu :#3498db;
$couleur_jaune :#f1c40f;


$couleur_sombre: rgb(27, 27, 27);
$couleur_nav: rgba(61, 61, 61, .8);
$couleur_texte: rgb(189, 189, 189);
$couleur_texte_hover: rgb(145, 145, 145);
$couleur_main: rgb(70, 70, 70);