/*!
Auteur: Eddy Martin
Description: Gabarit de base permettant d'explorer Sass et différents techniques CSS
Version: 1.0.0
License: GNU General Public License v2 or later

*/

/*--------------------------------------------------------------
>>> LISTE DES FICHIERS SCSS IMPORTÉS 
----------------------------------------------------------------
# Variables
# Layout
# Element
# Menu
# Pied-page
----------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
@import "_variables.scss";
/* --------------------------------------------------------------
# normalize
---------------------------------------------------------------- */
@import "_normalize.scss";
/*-------------------------------------------------------------- */
/* ------------------------------------------------------------


# Element 
--------------------------------------------------------------*/ 
@import "_mixin.scss";

@import "_extend.scss";
@import "_element.scss";
/* ------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
@import "_layout.scss";

/*--------------------------------------------------------------
# Pied-page 
----------------------------------------------------------------*/
 @import "_pied-page.scss";
/*-------------------------------------------------------------- */

@import "_extend.scss";
/*- Mixin
*/


/*- entete
*/
@import "_entete.scss";
/* --------------------------------------------------------------
# caroussel
---------------------------------------------------------------- */
 @import "_caroussel.scss";
/*-------------------------------------------------------------- */

/* --------------------------------------------------------------
# main
---------------------------------------------------------------- */
@import "_main.scss";
/*-------------------------------------------------------------- */

/* --------------------------------------------------------------
# typography
---------------------------------------------------------------- */
@import "_typography.scss";
/*-------------------------------------------------------------- */


/* --------------------------------------------------------------
# navigation
---------------------------------------------------------------- */
@import "_navigation.scss";
/*-------------------------------------------------------------- */

/* --------------------------------------------------------------
# grid
---------------------------------------------------------------- */
@import "_grid.scss";
/*-------------------------------------------------------------- */

